Dsl/GeneratedCode/RGRLLCAMSProyectoMDDSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="RGRLLCAMSProyectoMDDSchema" targetNamespace="http://schemas.microsoft.com/dsltools/RGRLLCAMSProyectoMDD" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/RGRLLCAMSProyectoMDD" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- Tapiz -->
  <xsd:element name="tapiz" type="Tapiz" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Tapiz">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TapizHasWindow -->
          <xsd:element name="window" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TapizHasWindow</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tapizHasWindow" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TapizHasWindow needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: TapizHasEnd -->
          <xsd:element name="end" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TapizHasEnd</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tapizHasEnd" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TapizHasEnd needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Solucion -->
        <xsd:attribute name="solucion" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Tapiz Moniker -->
  <xsd:element name="tapizMoniker" type="TapizMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Tapiz instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Window -->
  <xsd:element name="window" type="Window" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Window">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: WindowHasMenu -->
          <xsd:element name="menu" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of WindowHasMenu</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="windowHasMenu" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of WindowHasMenu needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: WindowHasButton -->
          <xsd:element name="button" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of WindowHasButton</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="windowHasButton" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of WindowHasButton needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: SizeX -->
        <xsd:attribute name="sizeX" type="xsd:string" />
        <!-- Property: SizeY -->
        <xsd:attribute name="sizeY" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Window Moniker -->
  <xsd:element name="windowMoniker" type="WindowMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="WindowMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Window instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MainWindow -->
  <xsd:element name="mainWindow" type="MainWindow" substitutionGroup="window" />
  <xsd:complexType name="MainWindow">
    <xsd:complexContent>
      <xsd:extension base="Window">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: MainWindowReferencesSecondaryWindow -->
          <xsd:element name="secondaryWindow" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MainWindowReferencesSecondaryWindow</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="mainWindowReferencesSecondaryWindow" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MainWindowReferencesSecondaryWindow needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MainWindow Moniker -->
  <xsd:element name="mainWindowMoniker" type="MainWindowMoniker" substitutionGroup="windowMoniker" />
  <xsd:complexType name="MainWindowMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MainWindow instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="WindowMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SecondaryWindow -->
  <xsd:element name="secondaryWindow" type="SecondaryWindow" substitutionGroup="window" />
  <xsd:complexType name="SecondaryWindow">
    <xsd:complexContent>
      <xsd:extension base="Window">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: SecondaryWindowReferencesTargetSecondaryWindow -->
          <xsd:element name="targetSecondaryWindow" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SecondaryWindowReferencesTargetSecondaryWindow</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="secondaryWindowReferencesTargetSecondaryWindow" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SecondaryWindowReferencesTargetSecondaryWindow needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SecondaryWindow Moniker -->
  <xsd:element name="secondaryWindowMoniker" type="SecondaryWindowMoniker" substitutionGroup="windowMoniker" />
  <xsd:complexType name="SecondaryWindowMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SecondaryWindow instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="WindowMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Menu -->
  <xsd:element name="menu" type="Menu" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Menu">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: MenuHasItem -->
          <xsd:element name="item" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MenuHasItem</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="menuHasItem" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MenuHasItem needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: id -->
        <xsd:attribute name="id" type="xsd:string" />
        <!-- Property: Title -->
        <xsd:attribute name="title" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Menu Moniker -->
  <xsd:element name="menuMoniker" type="MenuMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MenuMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Menu instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Button -->
  <xsd:element name="button" type="Button" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Button">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: id -->
        <xsd:attribute name="id" type="xsd:string" />
        <!-- Property: Title -->
        <xsd:attribute name="title" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Button Moniker -->
  <xsd:element name="buttonMoniker" type="ButtonMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ButtonMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Button instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Item -->
  <xsd:element name="item" type="Item" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Item">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Title -->
        <xsd:attribute name="title" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Item Moniker -->
  <xsd:element name="itemMoniker" type="ItemMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ItemMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Item instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- End -->
  <xsd:element name="end" type="End" substitutionGroup="core:modelElement" />
  <xsd:complexType name="End">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EndReferencesButton -->
          <xsd:element name="button" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EndReferencesButton</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="endReferencesButton" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EndReferencesButton needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EndReferencesItem -->
          <xsd:element name="item" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EndReferencesItem</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="endReferencesItem" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EndReferencesItem needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: id -->
        <xsd:attribute name="id" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- End Moniker -->
  <xsd:element name="endMoniker" type="EndMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EndMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for End instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasWindow -->
  <xsd:element name="tapizHasWindow" type="TapizHasWindow" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizHasWindow">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Window -->
          <xsd:element ref="window" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasWindow Moniker -->
  <xsd:element name="tapizHasWindowMoniker" type="TapizHasWindowMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizHasWindowMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizHasWindow instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SecondaryWindowReferencesTargetSecondaryWindow -->
  <xsd:element name="secondaryWindowReferencesTargetSecondaryWindow" type="SecondaryWindowReferencesTargetSecondaryWindow" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SecondaryWindowReferencesTargetSecondaryWindow">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end SecondaryWindow -->
          <xsd:element ref="secondaryWindowMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SecondaryWindowReferencesTargetSecondaryWindow Moniker -->
  <xsd:element name="secondaryWindowReferencesTargetSecondaryWindowMoniker" type="SecondaryWindowReferencesTargetSecondaryWindowMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SecondaryWindowReferencesTargetSecondaryWindowMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SecondaryWindowReferencesTargetSecondaryWindow instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- WindowHasMenu -->
  <xsd:element name="windowHasMenu" type="WindowHasMenu" substitutionGroup="core:modelElement" />
  <xsd:complexType name="WindowHasMenu">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Menu -->
          <xsd:element ref="menu" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- WindowHasMenu Moniker -->
  <xsd:element name="windowHasMenuMoniker" type="WindowHasMenuMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="WindowHasMenuMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for WindowHasMenu instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- WindowHasButton -->
  <xsd:element name="windowHasButton" type="WindowHasButton" substitutionGroup="core:modelElement" />
  <xsd:complexType name="WindowHasButton">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Button -->
          <xsd:element ref="button" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- WindowHasButton Moniker -->
  <xsd:element name="windowHasButtonMoniker" type="WindowHasButtonMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="WindowHasButtonMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for WindowHasButton instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MenuHasItem -->
  <xsd:element name="menuHasItem" type="MenuHasItem" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MenuHasItem">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Item -->
          <xsd:element ref="item" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MenuHasItem Moniker -->
  <xsd:element name="menuHasItemMoniker" type="MenuHasItemMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MenuHasItemMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MenuHasItem instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasEnd -->
  <xsd:element name="tapizHasEnd" type="TapizHasEnd" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizHasEnd">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end End -->
          <xsd:element ref="end" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasEnd Moniker -->
  <xsd:element name="tapizHasEndMoniker" type="TapizHasEndMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizHasEndMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizHasEnd instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndReferencesButton -->
  <xsd:element name="endReferencesButton" type="EndReferencesButton" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EndReferencesButton">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Button -->
          <xsd:element ref="buttonMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndReferencesButton Moniker -->
  <xsd:element name="endReferencesButtonMoniker" type="EndReferencesButtonMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EndReferencesButtonMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EndReferencesButton instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndReferencesItem -->
  <xsd:element name="endReferencesItem" type="EndReferencesItem" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EndReferencesItem">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Item -->
          <xsd:element ref="itemMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndReferencesItem Moniker -->
  <xsd:element name="endReferencesItemMoniker" type="EndReferencesItemMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EndReferencesItemMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EndReferencesItem instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MainWindowReferencesSecondaryWindow -->
  <xsd:element name="mainWindowReferencesSecondaryWindow" type="MainWindowReferencesSecondaryWindow" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MainWindowReferencesSecondaryWindow">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end SecondaryWindow -->
          <xsd:element ref="secondaryWindowMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MainWindowReferencesSecondaryWindow Moniker -->
  <xsd:element name="mainWindowReferencesSecondaryWindowMoniker" type="MainWindowReferencesSecondaryWindowMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MainWindowReferencesSecondaryWindowMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MainWindowReferencesSecondaryWindow instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum DomainEnumeration1 -->
  <xsd:simpleType name="DomainEnumeration1">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

